<%= form_with url:tasks_path, method: :get, local: true do |f| %>
  <%= f.label :name, '名前' %> 
  <%= f.text_field :name %>
  <%= f.label :status_id, 'ステータス' %> 
  <%= f.collection_select(:status_id,Status.all, :id, :name )%>
  <%= f.label :for_order_column, 'ソート' %> 
  <%= f.select :for_order_column, [["締め切り","deadline_date"], ["優先順位", "priority_id"]],{ include_blank: '選択してください'}%>
  <%= f.select :asc_or_desc, [["近い、高い順","asc"], ["遠い、低い順", "desc"]],{ include_blank: '選択してください'}%>
  <%= f.submit '検索' %> 
<% end %>

<h1>一覧</h1>
<hr>
<ul>
  <% @tasks.each do |task| %>
    <li> 
      <% if @tasks%>
        <%= link_to task.name, task, {class: "task"}%>
      <% else %>
        <p>タスクがありません</p>
      <%end%>
    </li>
  <% end %>
</ul>

<div class = "back">
  <%= link_to "作成", new_task_path, {class: "back_button"} %>
</div>
