<h1><%= @task.name %></h1>
<hr>
<p><%= @task.detail %></p>
<p><%= @task.deadline_date %></p>
<% if @task.status.name.present? %>
    <p><%= @task.status.name %></p>
<% end %>


<div class = "back">
    <%= link_to "一覧へ",tasks_path,{class:"back_button"}%>
</div>
<div class = "back">
    <%= link_to "編集", edit_task_path(@task),{class:"back_button"} %>
</div>
<div class = "back">
    <%= link_to '削除する', @task, method: :delete, data:{ confirm: '本当に削除してよろしいですか？'}, class: "back_button" %>
</div>
